In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [4]:
s[3]

nan

In [23]:
dates = pd.date_range('20160524',periods=3)
nums = np.matrix('0,5,6,9;7,45,98,35;45,67,87,56')
dates
nums

matrix([[ 0,  5,  6,  9],
        [ 7, 45, 98, 35],
        [45, 67, 87, 56]])

In [24]:
df = pd.DataFrame(nums, index=dates, columns=list('ABCD'))
df

             A   B   C   D
2016-05-24   0   5   6   9
2016-05-25   7  45  98  35
2016-05-26  45  67  87  56

Single quotes and double quote are interchangable

In [61]:
df2 = pd.DataFrame({'A' : 1.,'B': pd.Timestamp('20160524'),'C' : pd.Series(1,index=list(range(4)),dtype='float32'),'D' : np.array ([3] * 4,dtype='int32'),'E' : pd.Categorical(["test","train","test","train"]),'F' : 'foo'})
df2

   A          B  C  D      E    F
0  1 2016-05-24  1  3   test  foo
1  1 2016-05-24  1  3  train  foo
2  1 2016-05-24  1  3   test  foo
3  1 2016-05-24  1  3  train  foo

You can substitute [3] x 4 by a list of values/data

In [84]:
nums2 = [0,1,2,3,4,5,6,7,8,9,10] 
snums2 = str(nums2)
df3 = pd.DataFrame({'A' : 1.,'B': pd.Timestamp('20160524'),'C' : pd.Series(1,index=list(range(3)),dtype='float32'),'D' : np.array (nums2[0:3],dtype='int'),'E' : pd.Categorical(["test","train","test"]),'F' : 'foo'})

In [85]:
df3

   A          B  C  D      E    F
0  1 2016-05-24  1  0   test  foo
1  1 2016-05-24  1  1  train  foo
2  1 2016-05-24  1  2   test  foo

This function takes in an entry in the list and determines dtype. The 'for' loop below says that in the rnums array, if the entry returns 'True' then append it to the inums array (integer numbers), else append to the snums array (string numbers). In order to keep the amount of entries in each list the same, we must assign an empty space in the snums array if the entry is a number and a 0 in the inums array if the entry is a string.

In [127]:
def is_num(x):
    try:
        float(x)
        return True
    except ValueError:
        return False


rnums = [45,7654,34,3.56,'hi','hello',3.688,32,'sup',45]
inums = []
snums = []

for i in rnums:
    if is_num(i):
        inums.append(i)
        snums.append(' ')
    else:
        snums.append(i)
        inums.append(0)
        
#print inums,snums

rindex = range(len(rnums))

ichart = pd.DataFrame({'Index': rindex, 'Values': np.array(inums)})
schart = pd.DataFrame({'Index': rindex, 'Values': np.array(snums)})

print 'Integer Values'
display(ichart)

print 'String Values'
display(schart)

Integer Values

   Index    Values
0      0    45.000
1      1  7654.000
2      2    34.000
3      3     3.560
4      4     0.000
5      5     0.000
6      6     3.688
7      7    32.000
8      8     0.000
9      9    45.000

String Values

   Index Values
0      0
1      1
2      2
3      3
4      4     hi
5      5  hello
6      6
7      7
8      8    sup
9      9

This function takes in an index and says that if the entry in the integer list does not equal 0 then return the value in inums (this means that the entry is an integer value). Else return the entry in the snums array. If the entry is equal to 0 then the entry must be a string and is therefore found in the snums array.

In [128]:
def getdata(y):
    if inums[y]!=0:
        return inums[y]
    else:
        return snums[y]

In [107]:
print getdata(3)
print getdata(4)

3.56
hi

Panda uses objects instead of strings

In [118]:
print ichart.columns
print ichart.index
print ichart.values
print ichart.describe

Index([u'Index', u'Values'], dtype='object')
Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')
[[  0.00000000e+00   4.50000000e+01]
 [  1.00000000e+00   7.65400000e+03]
 [  2.00000000e+00   3.40000000e+01]
 [  3.00000000e+00   3.56000000e+00]
 [  4.00000000e+00   0.00000000e+00]
 [  5.00000000e+00   0.00000000e+00]
 [  6.00000000e+00   3.68800000e+00]
 [  7.00000000e+00   3.20000000e+01]
 [  8.00000000e+00   0.00000000e+00]
 [  9.00000000e+00   4.50000000e+01]]
<bound method DataFrame.describe of    Index    Values
0      0    45.000
1      1  7654.000
2      2    34.000
3      3     3.560
4      4     0.000
5      5     0.000
6      6     3.688
7      7    32.000
8      8     0.000
9      9    45.000>

* head(3) shows you the first three rows of values in a table
* tail(3) shows you the last three rows of values in a table

Switches rows and columns

In [119]:
ichart.T

         0     1   2     3  4  5      6   7  8   9
Index    0     1   2  3.00  4  5  6.000   7  8   9
Values  45  7654  34  3.56  0  0  3.688  32  0  45

Sorts data in ascending order

In [124]:
ichart.sort('Values')

   Index    Values
4      4     0.000
5      5     0.000
8      8     0.000
3      3     3.560
6      6     3.688
7      7    32.000
2      2    34.000
0      0    45.000
9      9    45.000
1      1  7654.000

Indices do not change based on if the data is sorted or not. It is based on the index associated with the data when the table was created.

In [136]:
ichart.loc[rindex[0]]

Index      0
Values    45
Name: 0, dtype: float64

In [135]:
sichart = ichart.sort('Values')
sichart.loc[rindex[0]]

Index      0
Values    45
Name: 0, dtype: float64

In [140]:
max(inums)

7654

In [141]:
nonzero_nums = []
for n in inums:
    if n != 0:
        nonzero_nums.append(n)

In [142]:
min(nonzero_nums)

3.56

This function reads in a table of values (can be a fits file), and two values that we call our min and max recession velocities. Within the function, we define two empty lists then create a 'for' loop. We set values equal to the value of the 'Values' column for any index i. This means that the function will look at the table under the 'Values' column and set values equal to whatever the entry is at our chosen index i. Next, we say if values is less than or equal to maxv and values is greater than or equal to minv then append those values to recv as well as append the respective indices for each recession velocity to irecv.

In [145]:
def find_recv(table,minv,maxv):
    recv = []
    irecv = []
    for i in table.index:
        values = table.at[rindex[i],'Values']
        if values<= maxv and values>= minv:
            recv.append(values)
            irecv.append(i)
    return recv,irecv

In [146]:
find_recv(ichart,3.6,40)

([34.0, 3.6880000000000002, 32.0], [2, 6, 7])